.sidebarContents {
    display: flex;
    flex-direction: column;
  }
  .sidebarContent {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebarContent:hover {
    background: rgb(211, 211, 211);
    border-radius: 5px;
  }

  .sidebarContent > img {
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
  }

  .sidebarContent > img:hover {
    height: 33px;
  }
  
  .sidebarContent > .MuiSvgIcon-root {
    font-size: medium;
    margin-left: 20px;
  }
  .sidebarContent > p {
    margin-left: 10px;
    color: gray;
    font-weight: 400;
    font-size: 13px;
  }

  .sidebarContent > p:hover {
    color: #000;
  }
  
  .sidebarContent > .text {
    margin-left: 23px;
    color: gray;
    font-weight: 400;
    font-size: 13px;
  }